.glass-form .form input {
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgba(138, 43, 226,0.7);
    border-radius: 3px;
    height:1rem;
    width: 100%;
    margin-top: 5%;
    padding: 5px;
}
.glass-form .form button {
    outline: none;
    border-radius: 20%;
    width: 100%;
    background: rgba(255,255,255,0.3);
    color: blueviolet;
    margin-top: 15%;
    /* margin-left: 37%; */
}
